################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.suo
*.db
*.opendb
/c++游戏编程入门（第4版）/Sample/.vs/Sample/v15/ipch/AutoPCH/bc52e5ec7056667
/c++游戏编程入门（第4版）/Sample/x64/Debug
/c++游戏编程入门（第4版）/Sample/.vs/Sample/v15/ipch/AutoPCH
*.tlog
*.obj
*.idb
*.pdb
/c++游戏编程入门（第4版）/Sample/Sample/x64/Debug
